/* Dashboard.css */


#sidebar-wrapper {
    width: 13rem; /* Ancho del sidebar */
    background-color: #171717; /* Color de fondo del sidebar */
    
    height: 100vh; /* Altura completa de la pantalla */
}
#sidebar-wrapper p{
    color: white;
    font-size: larger;
    font-weight: 600;
    padding-top: 35px;
    text-align: center;
    border-bottom: #929396 solid 1px;
}
.menu-User {
    background-color: #171717;
    margin-top: 30px;
}
.menu-User div{
    background-color: #171717;
  
}
.menu-User div:hover{
    background-color: #404040;
  
}
.menu-User div a{
    color: #a3a3a3;
  
}
.menu-User div a:active{
    color: white;
  
}
.menu-User div a:visited{
    color: white;
  
}

.menu-User div a:hover{
    color: white
}

/* TABLA MEDICAMENTOS */
.tablaDatos{
    border: solid 1px rgb(223, 223, 228);
    border-radius: 15px;
    margin-top: 35px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.tablaDatos h2{
    font-size: 1.6rem;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table thead th {
    background-color: #f5f5f5;
    /* color: #fff; */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn {
    color: #fff;
    margin-right: 8px;
}

.thead-darkUser th{
    color: #374151;
    font-weight: 600;
}

.barraUser{
    width: 100%;
    display: flex;
    justify-content: center;
}
.barraUser input{
    width: 70rem;
}

/* Estilos.css o Dashboard.css */
.rx-background {
    background-color: red; /* Color de fondo para RX */
  }
  
  .otc-background {
    background-color: green; /* Color de fondo para OTC */
  }
  



/* ventas */
.barraUser2{
    /* border: solid 1px red; */
    display: flex;
    /* margin: 0 50%; */
    justify-content: center;
    align-items: center;
}
.barraUser2 input{
    width: 30rem;
    /* margin: 0 50%; */
}
.barraUser2 button{
    /* width: 30rem; */
    /* margin: 0 50%; */
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
}